@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --background-primary: #392c50;
  --background-primary-muted: #4d435e;
  --background-secondary: #d6c37f;
  --background-body: #fffaf0;

  --interactive-primary: #8b4513;
  --interactive-secondary: #d4af37;

  --border-color: #d4af37;

  --accent-primary: #443f63;
  --accent-secondary: #5a292a;

  --space: 1rem;
  --space-small: calc(var(--space) / 2);
  --space-large: calc(var(--space) * 2);

  --border-radius: 0.5rem;
}

body {
  font-family: "Open Sans", sans-serif;
  > div {
    max-width: 1200px;
    margin: 0 auto;

    > header {
      > div {
        padding: var(--space);
        background-color: var(--background-primary);
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;

        img {
          border-radius: 9999px;
        }
      }

      h1 {
        font-size: 2rem;
        font-weight: bold;

        & + p {
          font-size: 1.25rem;
          font-weight: bold;
        }
      }

      select {
        padding: var(--space-small);
        font-size: 1.25rem;
        border-radius: var(--border-radius);
      }
    }
  }
}

nav {
  height: 3rem;
  background-color: var(--background-primary-muted);

  ul {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: var(--space);

    li {
      height: 100%;
    }

    a {
      display: flex;
      align-items: center;
      height: 100%;
      color: white;
      text-decoration: none;
      transition: background-color 0.3s;
      padding: 0 var(--space);

      &:hover {
        background-color: var(--background-primary);
      }
    }
  }
}

main > section:not(:first-of-type) {
  > header {
    background-color: var(--background-primary-muted);
    padding: var(--space);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

#featured-book {
  > header {
    background-color: var(--background-secondary);
    padding: var(--space);
    display: flex;
    gap: var(--space);

    > div {
      &:nth-child(1) {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        > div:first-of-type {
          background-color: var(--accent-secondary);
          padding: var(--space-small) var(--space-large);
          color: white;
          font-size: 1.25rem;
          border-radius: var(--border-radius);
          width: fit-content;
          text-transform: uppercase;
        }

        > div {
          text-align: center;
        }

        h2 {
          font-size: 1.75rem;
          font-weight: bold;
          font-style: italic;
        }
      }

      &:nth-child(2) {
        padding: var(--space-small);
        background-color: white;
        border-radius: var(--border-radius);
      }
    }
  }

  > div {
    display: flex;
    gap: var(--space-large);
    padding: var(--space);
    background-color: var(--background-body);

    > article {
      display: flex;
      flex-direction: column;
      gap: var(--space);
    }
  }

  blockquote {
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
    background-color: var(--background-primary-muted);
    color: white;
    padding: var(--space);
    border-radius: var(--border-radius);

    cite {
      text-align: right;
    }

    p {
      font-style: italic;
    }
  }

  aside {
    display: grid;
    gap: var(--space);
    grid-template-columns: 1fr 1fr;
    text-align: center;

    h3 {
      font-weight: bold;
      font-size: 0.95rem;

      + p {
        font-size: 0.75rem;
        font-weight: bold;
      }
    }

    img {
      min-width: 156px;
      height: auto;
    }
  }
}

#on-tour {
  > div {
    background-color: var(--background-body);
    padding: var(--space);

    display: flex;
    flex-direction: column;
    gap: var(--space);
  }

  .events-grid {
    display: grid;
    gap: var(--space);
    grid-template-columns: 1fr 1fr;

    > article {
      border: 1px solid var(--border-color);
      padding: var(--space);
      border-radius: var(--border-radius);

      header {
        h3 {
          color: var(--accent-primary);
          font-weight: bold;
        }

        p {
          color: var(--accent-secondary);
          font-weight: bold;
        }
      }

      time::before {
        content: "";
        display: inline-block;
        background-image: url("../images/microphone.png");
        width: 16px;
        height: 16px;
        padding-right: 20px;
      }
    }
  }
}

section footer {
  background-color: var(--background-body);
  padding: var(--space);
  display: flex;
  justify-content: end;

  img {
    cursor: pointer;
  }
}

#books {
  > div {
    background-color: var(--background-body);
    padding: var(--space);

    display: flex;
    flex-direction: column;
    gap: var(--space);
  }

  .books-grid {
    display: grid;
    gap: var(--space);
    grid-template-columns: 1fr 1fr;

    > article {
      border: 1px solid var(--border-color);
      padding: var(--space);
      border-radius: var(--border-radius);

      header {
        margin-bottom: var(--space);

        h3 {
          font-size: 1.25rem;
          font-weight: bold;
        }
      }

      img {
        float: right;
        margin-left: var(--space);
        margin-bottom: var(--space-small);
      }
    }
  }
}

#contact {
  > div {
    display: flex;
    gap: var(--space);

    background-color: var(--background-body);
    padding: var(--space);

    > div {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      gap: var(--space);
    }

    article {
      display: flex;
      flex-direction: column;
      gap: var(--space);

      border: 1px solid var(--border-color);
      padding: var(--space);
      border-radius: var(--border-radius);

      > div {
        display: flex;
        gap: var(--space);
      }

      h3 {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }

      .image {
        width: 150px;
        height: 150px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 9999px;
        }
      }
    }

    > aside {
      width: 33%;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  form {
    fieldset {
      display: flex;
      flex-direction: column;
    }

    button {
      margin-top: var(--space);
      padding: var(--space-small);
    }
  }
}

strong {
  font-weight: bold;
}

body > div > footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space);
  background-color: var(--background-primary);
  padding: var(--space);
  color: var(--interactive-secondary);

  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  > div {
    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      gap: var(--space-large);
      color: white;

      > div {
        display: flex;
        gap: var(--space-small);

        img {
          width: 30px;
          height: 30px;
          border-radius: 9999px;
        }
      }
    }

    &:nth-child(2) {
      text-align: center;
      display: flex;
      flex-direction: column;
    }

    &:nth-child(3) {
      justify-content: end;
      text-align: right;
    }
  }

  > p {
    grid-column: span 3;
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  #featured-book {
    aside {
      grid-template-columns: 1fr;

      > article:nth-child(even) {
        display: none;
      }
    }
  }

  #on-tour {
    .events-grid {
      grid-template-columns: 1fr;
      gap: 0;

      > article {
        border: none;
        border-bottom: 1px solid var(--border-color);
        border-radius: 0;
        padding: var(--space) 0;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  #books {
    .books-grid {
      grid-template-columns: 1fr;

      > article {
        border: none;
        border-bottom: 1px solid var(--border-color);
        border-radius: 0;
        padding: var(--space) 0;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  #contact {
    > div > div {
      > article {
        border: none;
        border-bottom: 1px solid var(--border-color);
        border-radius: 0;
        padding: var(--space) 0;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #featured-book {
    aside {
      display: none;
    }
  }

  #contact {
    aside {
      display: none;
    }
  }
}

@media only screen and (max-width: 480px) {
  body {
    > div {
      > header {
        > div {
          text-align: left;
          flex-direction: column;
          align-items: flex-start;
          gap: var(--space);
        }

        img {
          display: none;
        }
      }
    }
  }

  nav {
    height: auto;

    ul {
      flex-direction: column;
      gap: 0;

      li:not(:first-of-type) {
        border-top: 1px solid var(--border-color);
      }

      a {
        padding: var(--space-small) var(--space);
        justify-content: center;
      }
    }
  }

  #featured-book {
    > header {
      flex-direction: column;
      gap: var(--space);
      align-items: center;

      > div:last-of-type {
        width: fit-content;
      }
    }
  }

  #books {
    .books-grid {
      > article {
        padding-top: 0;

        > img {
          float: none;
          margin: 0 auto;
          margin-bottom: var(--space);
        }
      }
    }
  }

  #contact {
    > div {
      article {
        > div {
          flex-direction: column;
          gap: var(--space);
          align-items: center;

          > div:last-of-type {
            width: 100%;
          }
        }
      }
    }
  }

  body > div > footer {
    grid-template-columns: 1fr;
    gap: var(--space);

    > div {
      &:nth-child(1) {
        flex-direction: column;
        gap: var(--space);
        justify-content: center;
        align-items: center;

        figure {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: var(--space-small);
        }

        > div {
          img {
            width: 30px;
            height: 30px;
          }
        }
      }

      &:nth-child(2) {
        text-align: center;
      }

      &:nth-child(3) {
        text-align: center;
      }
    }

    > p {
      grid-column: span 1;
    }
  }
}
